h1 {
  font-weight: 100;
  font-size: 2.5em;
}

* {
    background-color: rgb(101, 205, 209);
}

#main {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border: 5px dashed rgb(100, 75, 124);
  border-radius: 25px;
  text-align: center;
  font-family: "Helvetica Neue", arial;
  font-weight: 100;
}

div.magicEight-Ball {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

div.answer {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
}

p#eight {
  font-size: 5em;
  margin: 20% auto;
  color: rgb(255, 255, 255);
  background-color: #333;
  border-radius: 45px
}

p#answer {
  padding: 23px;
  color: rgb(101, 205, 209);
  letter-spacing: 2px;
  font-size: 18px;
  background-color: black;
}

#question {
  margin: 20px;
  padding: 10px;
  width: 400px;
  font-size: 22px;
}

#instructions {
  font-size: 22px;
}
